body {
  background: #FFF;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Trebuchet MS", "Lucida Grande", Verdana, sans-serif;
  line-height: 15pt;
  margin: 0;
  font-size: 12pt; 
  line-height: 1.6em;
}

h1, h2, h3, h4 { 
  color: #0;
  padding: 0;
  margin: 1em 0;
}

pre, code {
  font-family: Courier;
  font-size: 11pt;
  overflow: auto;
}

a { color: #0088FF; text-decoration: none }
a:hover { color: #fff; background-color: #0088FF }

#content { 
  margin: 1em auto ;
  max-width: 35em;
}

ol, ul { padding-left: 0; }

#content p {
}
#about {
  list-style:none;
}
